@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  // 100% == 16px
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 3px;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #ffcf1b, #ff8b1b);
  background-attachment: fixed;
}

/* game-container */
.game-container {
  min-width: 500px;
  width: 60%;
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  margin: 5%;
  box-shadow: 0 15px 25px rgba($color: #000000, $alpha: 0.15);
  transition: all 3s ease-in-out;

  @media (max-width: 991px) {
    min-width: 70%;
    padding: 20px 10px;
  }

  @media (max-width: 767px) {
    min-width: 90%;
  }

  .scores {
    margin-bottom: 50px;
    text-align: right;

    p {
      span {
        font-weight: 600;
      }
    }
  }

  .weapons {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    button {
      background-color: #ffd51b;
      color: #000000;
      border: none;
      font-size: 50px;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      outline: none;
      cursor: pointer;

      &:active {
        transform: scale(0.98);
      }

      &:disabled {
        background-color: gray;
      }

      @media (max-width: 767px) {
        font-size: 20px;
        height: 70px;
        width: 70px;
      }
    }
  }

  .details {
    margin-top: 30px;
    text-align: center;

    %user-choice-computer-choice {
      font-weight: 400;
      margin-bottom: 10px;
    }

    %details-spans {
      font-weight: 600;

      @media (max-width: 767px) {
        display: block;
      }
    }

    #user-choice {
      @extend %user-choice-computer-choice;

      span {
        @extend %details-spans;
      }
    }

    #computer-choice {
      @extend %user-choice-computer-choice;

      span {
        @extend %details-spans;
      }
    }

    #result {
      width: 50%;
      padding: 10px 0;
      margin: 20px auto;
      font-weight: 600;
      letter-spacing: 0.5008px;

      span {
        @extend %details-spans;
      }
    }

    #reset-game {
      background-color: #ffd51a;
      color: #ac8f12;
      text-transform: capitalize;
      border: none;
      outline: none;
      cursor: pointer;
      width: 20%;
      padding: 10px 0;
      margin: auto;
      font-weight: 600;
      letter-spacing: 0.5008px;

      &:active {
        transform: scale(0.98);
      }
    }
  }
}
