@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
/* Global Rules */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 3px;
  height: 100vh;
  background: linear-gradient(135deg, #ffcf1b, #ff8b1b);
  background-attachment: fixed;
}

/* game-container */
.game-container {
  min-width: 500px;
  width: 60%;
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  margin: 5%;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

@media (max-width: 991px) {
  .game-container {
    min-width: 70%;
    padding: 20px 10px;
  }
}

@media (max-width: 767px) {
  .game-container {
    min-width: 90%;
  }
}

.game-container .scores {
  margin-bottom: 50px;
  text-align: right;
}

.game-container .scores p span {
  font-weight: 600;
}

.game-container .weapons {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.game-container .weapons button {
  background-color: #ffd51b;
  color: #000000;
  border: none;
  font-size: 50px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.game-container .weapons button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.game-container .weapons button:disabled {
  background-color: gray;
}

@media (max-width: 767px) {
  .game-container .weapons button {
    font-size: 20px;
    height: 70px;
    width: 70px;
  }
}

.game-container .details {
  margin-top: 30px;
  text-align: center;
}

.game-container .details #user-choice, .game-container .details #computer-choice {
  font-weight: 400;
  margin-bottom: 10px;
}

.game-container .details #user-choice span, .game-container .details #computer-choice span, .game-container .details #result span {
  font-weight: 600;
}

@media (max-width: 767px) {
  .game-container .details #user-choice span, .game-container .details #computer-choice span, .game-container .details #result span {
    display: block;
  }
}

.game-container .details #result {
  width: 50%;
  padding: 10px 0;
  margin: 30px auto;
  font-weight: 600;
  letter-spacing: 0.5008px;
}
